################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Manager/.vs/Manager
/Manager/Manager/bin/Debug/net8.0-windows
/Manager/Manager/obj
